.title{
    background-color: rgba(217, 142, 3, 0.867);
    color: white;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
    text-transform: capitalize;
}

.content{
    display: flex;
    gap: 50px;
}