.container{
    margin-top: 40px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--textColor);
    background-color: rgba(138, 136, 134, 0.277);
    padding: 25px;
    border-radius: 10px 10px 0px 0px;
}

.info{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logoText{
    font-size: 20px;
}

.desc{
    font-weight: 300;
}

.icons{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.links{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 100px;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 300;
}

.listTitle{
    font-weight: bold;
}

@media screen and (max-width:1024px){
    .links{
        gap: 50px;
    }
}

@media screen and (max-width:768px){
    .container{
        flex-direction: column;
        gap: 30px;
    }

    .links{
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width:768px){
    .links{
        font-size: 14px;
    }
    .icons{
        margin: auto;
    }
}