
.items{
   margin-top: 25px;
   margin-bottom: 50px;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.item{
    display: flex;
    align-items: center;
    gap: 20px;
}

.imgContainer{
    flex: 1;
    aspect-ratio: 1/1;
    position: relative;
}

.image{
    border-radius: 50%;
    border: 3px solid lightgray;
    object-fit: cover;
}

.textContainer{
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.category{
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    width: max-content;
}

.category.style{
    background-color: orange;
}

.category.flutter{
    background-color: rgb(117, 162, 222);
}

.category.nodejs{
    background-color: rgb(128, 172, 69);
}

.category.css{
    background-color: rgb(69, 172, 165);
}

.category.culture{
    background-color: rgb(169, 135, 60);
}

.category.java{
    background-color: rgb(188, 223, 31);
}

.categoryList{
    margin: 10px;
}

.categoryListItem{
    padding: 5px;
}

.categoryListItem.style{
    color: rgb(255, 166, 0);
    background-color: rgb(255, 229, 181);
}

.categoryListItem.travel{
    background-color: rgb(69, 172, 165);
}

.categoryListItem.culture{
    background-color: rgb(169, 135, 60);
}

.categoryListItem.fashion{
    background-color: rgb(81, 81, 148);
}

.postTitle{
    font-size: 15px;
    font-weight: 500;
    color: var(--softTextColor);
}

.detail{
    font-size: 10px;
}

.date{
    color: gray;
    margin-left: 5px;
}
 





